<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-toggle></ion-menu-toggle>
    </ion-buttons>
    <ion-title>
      Common Integration
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <section>
    <h1>Features, Events and Controls</h1>
    <p><code>CdTabsComponent</code> is designed with some features and in order to be controlled.</p>
    <ul>
      <li><a href="/common-integration#ripple-effect">Cd-Tab-Button Ripple Effect</a></li>
      <li><a href="/common-integration#disabled">Cd-Tab-Button Disabled</a></li>
      <li><a href="/common-integration#segments">Cd-Tabs Segments</a></li>
      <li><a href="/common-integration#tab-id">Cd-Tabs Tab Id</a></li>
      <li><a href="/common-integration#events">Cd-Tabs Events</a></li>
      <li><a href="/common-integration#disposition">Cd-Tabs Disposition</a></li>
    </ul>

    <ion-card class="ion-padding" id="ripple-effect">
      <ion-card-title>Ripple effect</ion-card-title>
      <ion-card-subtitle>You can apply a ripple effect to <strong>CdTabButtonComponent</strong>&nbsp;<a
        href="/components-api#cd-tab-button"><i class="fas fa-link"></i></a> with property <code>ripple</code>.
      </ion-card-subtitle>
      <ion-card-content>
        <cd-tabs displayMode="segments">
          <cd-tab-bar color="secondary">
            <cd-tab-button>Rendering</cd-tab-button>
            <cd-tab-button>Code HTML</cd-tab-button>
          </cd-tab-bar>
          <cd-tab-content>
            <div class="ion-padding">
              <cd-tabs>
                <cd-tab-bar [color]="'tertiary'">
                  <cd-tab-button ripple="bounded">Bounded Ripple</cd-tab-button>
                  <cd-tab-button ripple="unbounded">Unbunded Ripple</cd-tab-button>
                  <cd-tab-button>No Ripple</cd-tab-button>
                </cd-tab-bar>
              </cd-tabs>
            </div>
          </cd-tab-content>
          <cd-tab-content>
            <ngx-prism [language]="'html'" [code]="samples.ripple"></ngx-prism>
          </cd-tab-content>
        </cd-tabs>
      </ion-card-content>
    </ion-card>

    <ion-card class="ion-padding" id="segments">
      <ion-card-title>Segments</ion-card-title>
      <ion-card-subtitle>You can customize the <strong>CdTabsComponent</strong>&nbsp;<a href="/components-api#cd-tabs"><i
        class="fas fa-link"></i></a> in segments like <a
        href="https://ionicframework.com/docs/api/segment" target="_blank">Ionic
        Segments</a> with property <code>displayMode</code>.
      </ion-card-subtitle>
      <ion-card-content>
        <cd-tabs displayMode="segments">
          <cd-tab-bar color="secondary">
            <cd-tab-button>Rendering</cd-tab-button>
            <cd-tab-button>Code HTML</cd-tab-button>
          </cd-tab-bar>
          <cd-tab-content>
            <div class="ion-padding">
              <cd-tabs displayMode="segments">
                <cd-tab-bar [color]="'warning'">
                  <cd-tab-button ripple="bounded">Bounded Ripple</cd-tab-button>
                  <cd-tab-button ripple="unbounded">Unbunded Ripple</cd-tab-button>
                  <cd-tab-button>No Ripple</cd-tab-button>
                </cd-tab-bar>
              </cd-tabs>
            </div>
          </cd-tab-content>
          <cd-tab-content>
            <ngx-prism [language]="'html'" [code]="samples.segments"></ngx-prism>
          </cd-tab-content>
        </cd-tabs>
      </ion-card-content>
    </ion-card>

    <ion-card class="ion-padding" id="tab-id">
      <ion-card-title>Tab Id</ion-card-title>
      <ion-card-subtitle>You can affect a <strong>Tab Id</strong> to sub-components of <strong>CdTabsComponent</strong>&nbsp;<a
        href="/components-api#cd-tabs"><i class="fas fa-link"></i></a> if you want that a
        specific tab is affected to <code>cd-tab-button</code>&nbsp;<a href="/components-api#cd-tab-button"><i class="fas fa-link"></i></a>.
        Otherwise, tab affection is ordered by index (First tab button = first tab content).
      </ion-card-subtitle>
      <ion-card-content>
        <cd-tabs displayMode="segments">
          <cd-tab-bar color="secondary">
            <cd-tab-button>Rendering</cd-tab-button>
            <cd-tab-button>Code HTML</cd-tab-button>
          </cd-tab-bar>
          <cd-tab-content>
            <div class="ion-padding">
              <cd-tabs>
                <cd-tab-bar [color]="'success'">
                  <cd-tab-button tab="beer1">Beer</cd-tab-button>
                  <cd-tab-button tab="pizza2">Pizza</cd-tab-button>
                  <cd-tab-button tab="coffee3">Coffee</cd-tab-button>
                </cd-tab-bar>
                <cd-tab-content class="ion-padding ion-text-center" style="font-size: 3rem" id="coffee3">
                  <ion-icon name="cafe"></ion-icon>
                </cd-tab-content>
                <cd-tab-content class="ion-padding ion-text-center" style="font-size: 3rem" id="beer1">
                  <ion-icon name="beer"></ion-icon>
                </cd-tab-content>
                <cd-tab-content class="ion-padding ion-text-center" style="font-size: 3rem" id="pizza2">
                  <ion-icon name="pizza"></ion-icon>
                </cd-tab-content>
              </cd-tabs>
            </div>
          </cd-tab-content>
          <cd-tab-content>
            <ngx-prism [language]="'html'" [code]="samples.tabId"></ngx-prism>
          </cd-tab-content>
        </cd-tabs>
      </ion-card-content>
    </ion-card>


    <ion-card class="ion-padding" id="events">
      <ion-card-title>Events and Controls</ion-card-title>
      <ion-card-subtitle>You can interact with <strong>CdTabsComponent</strong>&nbsp;<a href="/components-api#cd-tabs"><i
        class="fas fa-link"></i></a> by some methods and events.
        <ion-card-header>You have the methods <code>getTab()</code>, <code>getSelected()</code> and <code>select()</code> and the event
          <code>tabChangedEvent</code>.
        </ion-card-header>
      </ion-card-subtitle>
      <ion-card-content>
        <cd-tabs displayMode="segments">
          <cd-tab-bar color="secondary">
            <cd-tab-button>Rendering</cd-tab-button>
            <cd-tab-button>Code HTML</cd-tab-button>
            <cd-tab-button>Code TypeScript</cd-tab-button>
          </cd-tab-bar>
          <cd-tab-content>
            <div class="ion-padding">
              <cd-tabs #CdTabs (tabChangedEvent)="onTabChanged($event)">
                <cd-tab-bar [color]="'danger'">
                  <cd-tab-button tab="beer">Beer</cd-tab-button>
                  <cd-tab-button tab="pizza">Pizza</cd-tab-button>
                  <cd-tab-button tab="coffee">Coffee</cd-tab-button>
                </cd-tab-bar>
                <cd-tab-content class="ion-padding ion-text-center" style="font-size: 3rem" id="coffee">
                  <ion-icon name="cafe"></ion-icon>
                </cd-tab-content>
                <cd-tab-content class="ion-padding ion-text-center" style="font-size: 3rem" id="beer">
                  <ion-icon name="beer"></ion-icon>
                </cd-tab-content>
                <cd-tab-content class="ion-padding ion-text-center" style="font-size: 3rem" id="pizza">
                  <ion-icon name="pizza"></ion-icon>
                </cd-tab-content>
              </cd-tabs>
            </div>

            <div class="p-3 mb-2 bg-info text-dark">
              <div class="h6">Events and Info :</div>
              <pre class="text-white"><code>{{eventMessage}}</code></pre>
            </div>

            <div class="p-3 mb-2 bg-primary text-dark">
              <div class="h6">Commands :</div>
              <div class="text-white">
                <ion-button color="secondary" (click)="getSelectedTabAction()">Get Selected Tab</ion-button>
                <ion-button color="secondary" (click)="getTabAction()">Get Tab</ion-button>
                <ion-button color="secondary" (click)="selectAction()">Select Tab</ion-button>
                <ion-item color="transparent">
                  <ion-label>Get / Select Tab num or id:</ion-label>
                  <ion-input [(ngModel)]="tabValue"></ion-input>
                </ion-item>
              </div>
            </div>
          </cd-tab-content>
          <cd-tab-content>
            <ngx-prism [language]="'html'" [code]="samples.controls.html"></ngx-prism>
          </cd-tab-content>
          <cd-tab-content>
            <ngx-prism [language]="'javascript'" [code]="samples.controls.ts"></ngx-prism>
          </cd-tab-content>
        </cd-tabs>
      </ion-card-content>
    </ion-card>

    <ion-card class="ion-padding" id="disabled">
      <ion-card-title>Disabled, Icon only</ion-card-title>
      <ion-card-subtitle>You can apply a disabled state to <strong>CdTabButtonComponent</strong>&nbsp;<a
        href="/components-api#cd-tab-button"><i class="fas fa-link"></i></a> with property <code>disabled</code>.
      </ion-card-subtitle>
      <ion-card-content>
        <cd-tabs displayMode="segments">
          <cd-tab-bar color="secondary">
            <cd-tab-button>Rendering</cd-tab-button>
            <cd-tab-button>Code HTML</cd-tab-button>
          </cd-tab-bar>
          <cd-tab-content>
            <div class="ion-padding">
              <cd-tabs>
                <cd-tab-bar [color]="'tertiary'">
                  <cd-tab-button [disabled]="true">Disabled</cd-tab-button>
                  <cd-tab-button><i class="fas fa-code"></i></cd-tab-button>
                </cd-tab-bar>
              </cd-tabs>
            </div>
          </cd-tab-content>
          <cd-tab-content>
            <ngx-prism [language]="'html'" [code]="samples.disabled"></ngx-prism>
          </cd-tab-content>
        </cd-tabs>
      </ion-card-content>
    </ion-card>

    <ion-card class="ion-padding" id="disposition">
      <ion-card-title>Disposition</ion-card-title>
      <ion-card-subtitle>You can apply some UI disposition to <strong>CdTabsComponent</strong>&nbsp;<a href="/components-api#cd-tabs"><i
        class="fas fa-link"></i></a> with the property <code>disposition</code>.
      </ion-card-subtitle>
      <ion-card-header>This property shall be set at initialization and cannot dynamically changed.</ion-card-header>
      <ion-card-content>
        <cd-tabs displayMode="segments">
          <cd-tab-bar color="secondary">
            <cd-tab-button>Rendering</cd-tab-button>
            <cd-tab-button>Code HTML</cd-tab-button>
          </cd-tab-bar>
          <cd-tab-content>
            <div class="ion-padding">
              <cd-tabs disposition="left">
                <cd-tab-bar [color]="'warning'">
                  <cd-tab-button>Beer</cd-tab-button>
                  <cd-tab-button>Pizza</cd-tab-button>
                  <cd-tab-button>Coffee</cd-tab-button>
                </cd-tab-bar>
              </cd-tabs>
            </div>
            <div class="ion-padding">
              <cd-tabs disposition="center">
                <cd-tab-bar [color]="'danger'">
                  <cd-tab-button>Beer</cd-tab-button>
                  <cd-tab-button>Pizza</cd-tab-button>
                  <cd-tab-button>Coffee</cd-tab-button>
                </cd-tab-bar>
              </cd-tabs>
            </div>
            <div class="ion-padding">
              <cd-tabs disposition="right">
                <cd-tab-bar [color]="'success'">
                  <cd-tab-button>Beer</cd-tab-button>
                  <cd-tab-button>Pizza</cd-tab-button>
                  <cd-tab-button>Coffee</cd-tab-button>
                </cd-tab-bar>
              </cd-tabs>
            </div>
            <div class="ion-padding">
              <cd-tabs disposition="vertical">
                <cd-tab-bar [color]="'warning'">
                  <cd-tab-button>Beer</cd-tab-button>
                  <cd-tab-button>Pizza</cd-tab-button>
                  <cd-tab-button>Coffee</cd-tab-button>
                </cd-tab-bar>
              </cd-tabs>
            </div>
          </cd-tab-content>
          <cd-tab-content>
            <ngx-prism [language]="'html'" [code]="samples.disposition"></ngx-prism>
          </cd-tab-content>
        </cd-tabs>
      </ion-card-content>
    </ion-card>

  </section>
</ion-content>
