.standalone-tabs {
  --cd-color: #FFFFFF;
  --cd-color-selected: #FFFFFF;
  --cd-color-hover: #FFFFFF;
  --cd-background: #925bc8;
  --cd-background-selected: #7453a5;
  --cd-background-hover: #aa5ee2;
}
