<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Basic Usage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <section>
    <h1>Colors</h1>
    <div>The <code>cd-tabs</code> component can use <strong>colors</strong> of <a href="https://ionicframework.com/docs/theming/basics"
                                                                                  target="_blank">Ionic Themes</a> or custom colors.
    </div>

    <ion-card class="ion-padding">
      <ion-card-title>Ionic colors</ion-card-title>
      <ion-card-header>In a <strong>Ionic app</strong>, you can use the input parameter <code>color</code> of
        <strong>CdTabsComponent</strong>.
      </ion-card-header>
      <ion-card-content>
        Refer to <a href="/ionic">Ionic Integration</a> section for demonstration.
      </ion-card-content>
    </ion-card>

    <ion-card class="ion-padding">
      <ion-card-title>Custom colors</ion-card-title>
      <ion-card-header>In <strong>standalone app</strong>, you can customize the colors of <code>cd-tabs</code> by defining variables
        in a CSS class.
      </ion-card-header>
      <ion-card-content>

        <cd-tabs displayMode="segments">
          <cd-tab-bar color="secondary">
            <cd-tab-button>Rendering</cd-tab-button>
            <cd-tab-button>Code HTML</cd-tab-button>
            <cd-tab-button>Code CSS</cd-tab-button>
          </cd-tab-bar>
          <cd-tab-content>
            <div class="ion-padding">
              <cd-tabs>
                <cd-tab-bar class="standalone-tabs">
                  <cd-tab-button>Standalone Tab 1</cd-tab-button>
                  <cd-tab-button>Standalone Tab 2</cd-tab-button>
                </cd-tab-bar>
              </cd-tabs>
            </div>
          </cd-tab-content>
          <cd-tab-content>
            <ngx-prism [language]="'html'" [code]="samples.colors.standalone.html"></ngx-prism>
          </cd-tab-content>
          <cd-tab-content>
            <ngx-prism [language]="'css'" [code]="samples.colors.standalone.css"></ngx-prism>
          </cd-tab-content>
        </cd-tabs>
      </ion-card-content>
    </ion-card>

  </section>

  <section>
    <h1>Vertical Tabs</h1>
    <p>With the input parameter <code>disposition</code>, you can set a vertical tabs with the value <code>vertical</code>.</p>
    <ion-card class="ion-padding">
      <ion-card-content>
        <cd-tabs displayMode="segments">
          <cd-tab-bar color="secondary">
            <cd-tab-button>Rendering</cd-tab-button>
            <cd-tab-button>Code HTML</cd-tab-button>
          </cd-tab-bar>
          <cd-tab-content class="ion-padding">
            <cd-tabs disposition="vertical">
              <cd-tab-bar color="warning">
                <cd-tab-button>Tab 1</cd-tab-button>
                <cd-tab-button>Tab 2</cd-tab-button>
              </cd-tab-bar>
              <cd-tab-content>Tab 1 is displayed !</cd-tab-content>
              <cd-tab-content>Tab 2 is displayed !</cd-tab-content>
            </cd-tabs>
          </cd-tab-content>
        </cd-tabs>
      </ion-card-content>
      <cd-tab-content>
        <ngx-prism [language]="'html'" [code]="samples.vertical"></ngx-prism>
      </cd-tab-content>
    </ion-card>
  </section>

  <section>
    <h1>Router integration</h1>
    <p>With the input parameter <code>routerLink</code>, you can link the tab action to Angular <a href="https://angular.io/guide/router" target="_blank">Router</a>.</p>
    <ion-card class="ion-padding">
      <ion-card-title>Please look the menu on left side for demonstration!</ion-card-title>
      <ion-card-content>
        <ngx-prism [language]="'html'" [code]="samples.router"></ngx-prism>
      </ion-card-content>
    </ion-card>
  </section>

</ion-content>
