ion-card-title {
  font-size: 2rem;
}


ion-card-content {
  h3 {
    font-size: 1.2rem;
    font-weight: 700;
    color: #1e2023;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }

  tr.heading td {
    font-weight: bold;
    font-size: 1rem;
    padding-top: 2rem;
  }

  tr.info td {
    color: #333333;

    &:first-child {
      font-weight: bold;
      color: #666666;
      width: 200px;
    }
  }
}

