<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Cd-Tabs</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content color="medium">
        <cd-tabs disposition="vertical" selectMode="router">
          <cd-tab-bar auto-hide="false" color="medium">
            <cd-tab-button ripple="bounded" [routerLink]="[p.url]" *ngFor="let p of appMenu">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>{{p.title}}</ion-label>
            </cd-tab-button>
          </cd-tab-bar>
        </cd-tabs>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
