<ion-header>
  <ion-toolbar color="primary">
    <ion-title>

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1 class="ion-text-center">
    Angular Cd-Tabs !
  </h1>
  <div class="ion-text-center">
    <img width="100" alt="Angular Logo"
         src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
  </div>
  <section>
    <h1>Introduction</h1>
    <p><code>cd-tabs</code> (<code>CdTabsComponent</code>) is a simple <a href="https://angular.io/" target="_blank">Angular CLI</a> component that manage
      <strong>tabs</strong>, based on <a href="https://ionicframework.com/docs/api/tabs" target="_blank">Ionic tabs</a>. </p>
    <p>There are the main features of this component:</p>
    <ul>
      <li>horizontal and vertical tabs can be managed.</li>
      <li>icons are managed.</li>
      <li>Angular router or simple tab are managed.</li>
      <li>not slotted component.</li>
    </ul>
    <p><code>CdTabsComponent</code> is a good way if you want to display a vertical menu without slot constraints.</p>
    <p><strong>About Ionic 4 and this component:</strong></p>
    <p>This component is designed due to limitation of <code>ion-tabs</code>, which use a web component <a href="https://developer.mozilla.org/fr/docs/Web/HTML/Element/slot" target="_blank">slot</a> and manage only <strong>bottom</strong> and <strong>top</strong> disposition.</p>
    <p>This component not use <code>slot</code> and disposition is managed by a <strong>property</strong>.</p>
  </section>

  <section>
    <h1>Basic Example:</h1>
    The following code renders the following sample:

    <h3>Code:</h3>
    <ngx-prism [language]="'html'" [code]="samples.basic"></ngx-prism>

    <h3>Rendering:</h3>

    <div>
      <cd-tabs>
        <cd-tab-bar>
          <cd-tab-button>Tab 1</cd-tab-button>
          <cd-tab-button>Tab 2</cd-tab-button>
          <cd-tab-button>Tab 3</cd-tab-button>
        </cd-tab-bar>
        <cd-tab-content>Tab 1 is displayed !</cd-tab-content>
        <cd-tab-content>Tab 2 is displayed !</cd-tab-content>
        <cd-tab-content>Tab 3 is displayed !</cd-tab-content>
      </cd-tabs>
    </div>
  </section>

  <section>
    <h1>Installation</h1>
    <p>You can install <code>cd-tabs</code> using <a href="https://www.npmjs.com/" target="_blank">NPM</a>:</p>
    <p><ngx-prism [language]="'shell'">npm install angular-cd-tabs</ngx-prism></p>
    <p>Then, you shall configure the  <em>app.module.ts</em> file:</p>
    <ngx-prism [language]="'javascript'" [code]="samples.installation"></ngx-prism>
  </section>

  <section>
    <h1>License</h1>
    <p>Copyright 2020 (c) clemdesign.<br>
      The library <code>angular-cd-tabs</code> is under <a href="https://opensource.org/licenses/MIT" target="_blank">MIT</a> license.</p>
  </section>
</ion-content>
